<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
      <div class="row text-center">
        <p>
          Engineering student with a strong work ethic and attention to detail looking for an entry-level internship with an accredited company to put my technical knowledge to use and advance in a real-world engineering setting. I am excited to be a part of a creative team, absorb knowledge from collaborating with experts, contribute significantly to challenging engineering projects, and lay the groundwork for a successful engineering career.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <button id="showImageButton" class="btn btn-lg btn-outline">Resume</button>
        <img id="displayedImage" src="img/portfolio/ENG_Resume_McCormick_Mattew.PNG" alt="Description of the image" style="display: none; margin-top: 10px; max-width: 100%; height: auto;">
      </div>
    </div>
  </div>
</section>

<script>
  const button = document.getElementById('showImageButton');
  const displayedImage = document.getElementById('displayedImage');

  button.addEventListener('click', () => {
    displayedImage.style.display = displayedImage.style.display === 'none' ? 'block' : 'none'; // Toggle image display
  });
</script>
