<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    <div class="row text-center">
        <p>Engineering student with a strong work ethic and attention to detail looking for an entry level internship with an accredited company to put my technical knowledge to use and advance in a real-world engineering setting. I am excited to be a part of a creative team, absorb knowledge from conspiring with experts, contriubute significantly to difficult engineering projects, and lay the groundwork for a successful engineering career.</p>
</section>
